:root {
    --dropdown-width: 100vw;
    --dropdown-padding--vertical: 1.5em;
    --dropdown-padding--horizontal: 2em;

    --dropdown-background: #1F2529;
    --dropdown-bordercolor: rgba(35, 48, 56, 1);
}
@media screen and (min-width: 500px) {
    :root {
        --dropdown-width: 23em;
    }
}

[data-dropdown] {
    cursor: default;
}

[data-dropdown-placeholder],
[data-tooltip-placeholder] {
    position: static;
    margin: 0;
}

.dropdown,
.tooltip {
    position: absolute;
    top: 0;
    left: 2.5vw;
    z-index: -1;
    display: none!important;
    margin: 0;
    width: var(--dropdown-width);
    max-width: 95vw;
    max-height: 35em;
    padding: var(--dropdown-padding--vertical) var(--dropdown-padding--horizontal);
    visibility: hidden;
    font-size: 1rem;
    color: var(--textcolor);
    text-align: left!important;
    text-shadow: none;
    text-transform: none;
    font-weight: normal;
    opacity: 0;
    overflow: auto;
    transition: opacity 0.2s ease-in-out;
    background: var(--dropdown-background);
}

@media screen and (min-width: 500px) {
    .dropdown {
        left: 0;
    }
}
    /* Opened state */
    .dropdown--opened {
        display: block!important;
        z-index: calc(var(--tooltip-zindex) - 1);
        visibility: visible;
        opacity: 1;
    }

    .dropdown--right {
        text-align: right;
    }
